
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    
}

body {
    font-family: 'Pretendard-Regular';
    
}

.big4 {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 1;
    margin-bottom: 1;
    width: 150px;
    border: 0px solid white;
    background-color: rgb(67, 110, 119);
    color: bisque;
    flex: 1
}
.big4Effect button:hover{
    background-color: black;
    color:bisque;
}

.bigBoxes {
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction:row;
}

#rotatingBooks {
    height: 500px;
    margin-left: 0px;
    margin-right: 0px;
    background-image: url(a1c06f28469a4bd9a72f65c49cc663cf.jpeg);
    background-size:111%;
    background-position: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    
}

#SubTitle {
    margin-bottom: 50px;
}

#oneSentenceReview {
    border-left: 1px solid black;
    border-Right: 1px solid black;
    padding: 15px;
}

#basicBookInfo {
    margin-left: 20px;
}

#buy {
    border: white;
    color: black;
    background-color: white;
    width: 100px;
    border-radius: 100px;
}

#buyEffect button:hover {
    background-color: black;
    color: white;
}

#notMove {
    display: flex;
    flex-direction: column;
}