
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    
}

body {
    font-family: 'Pretendard-Regular';
    margin: 0px;
}
#notMove {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 6vw;
    width: 90vw;
    display: flex;
    flex-direction: row;
    background-color: rgb(77, 120, 129);
    align-items: center;
    justify-content:space-between;
    padding-left: 5vw;
    padding-right: 5vw;
    box-shadow: 0 5px 10px rgb(0, 0, 0, .5);
}
#title {
    font-size: xx-large;
}
.info4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 10vw;
}
#mainInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40vw;
}
.infohover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* z-index: 1; */
}
.fixed {
    position: fixed;
}
.infohover:hover {
    animation: hover .5s forwards;
}
@keyframes hover {
    0% {
        background-color: azure;
        width: 0%;
    }
    100% {
        background-color:rgb(8, 74, 87);
        width:100%;
    }
}
.bigBoxes {
    border: 1px solid black;
    height: 30vw;    
}
/* .container {

} */
#carousel {
    width: 100%;
    overflow-x:auto;
    scroll-snap-type: x mandatory;
    display: flex;
}
#carousel::-webkit-scrollbar {
    display: none;
}
.next {
    position: absolute;
    top: 45%;
    right: 20px;
    color: rgb(eee);
    font-size: xx-large;
    cursor: pointer;
}
.prev {
    position: absolute;
    top: 45%;
    left: 20px;
    color: rgb(eee);
    font-size: xx-large;
    cursor: pointer;
}
.next:hover {
    background-color: tomato;
}
#imageSlider {
    width: 300%;
    display: flex;
    transition: all 0.5s;
    flex-shrink: 0;
}
#rotatingBooks {
    height: 43vw;
    width: 100vw;
    margin-top: 6vw;
    margin-left: 0px;
    margin-right: 0px;
    background-image: url(a1c06f28469a4bd9a72f65c49cc663cf.jpeg);
    background-size:111%;
    background-position: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
}
#SubTitle {
    margin-bottom: 50px;
}

#oneSentenceReview {
    border-left: 1px solid white;
    border-Right: 1px solid white;
    padding: 15px;
}

#basicBookInfo {
    margin-left: 20px;
}

#buy {
    border: white;
    color: black;
    background-color: white;
    width: 100px;
    border-radius: 100px;
}

#buyEffect button:hover {
    background-color: black;
    color: white;
}

#menu {
    display: flex;
    flex-direction: row;
    margin: 10px;
    
    color: black;
    background-color: white;
    
}
#menu button:hover {
    background-color: black;
    color: white;
}
.item {
    flex: 1;
    border: 1px solid white;
    background-color: rgb(67, 110, 119);
    color: bisque;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    
}
.menu4 {
    margin: 3px;
}